body {
  color: var(--NAVY-BLUE, #434455);
  background-color: #fff;
  font-family: Roboto, sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.photo-card {
  background-color: #ffffff;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.link {
  padding: 24px 0;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
header .container {
  display: flex;
  align-items: center;
}
.header-item {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  justify-content: center;
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
}
.logo {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #404bbf;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.logo-studio {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-item .link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.nav-item {
  display: flex;
  gap: 40px;
  align-items: center;
}
.first-link .link {
  color: #404bbf;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first-link .link::after {
  content: "";
  width: 100%;
  color: #404bbf;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
.nav-item .link:hover,
.link:focus {
  color: var(--OCEAN, #404bbf);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
.adr {
  font-style: normal;
  margin-left: auto;
}
.adr-item {
  display: flex;
  gap: 40px;
}
.adr .link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
.adr .link:hover,
.link:focus {
  color: var(--OCEAN, #404bbf);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
.contacts-list .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-section {
  display: flex;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  padding: 188px 0;
  max-width: 1440px;
  background-position: center;
  background-size: cover;
  background-color: var(--NAVY-BLUE, #2e2f42);
}
.main-section .container {
  flex-direction: column;
}
.title-main {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  max-width: 496px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.4px;
  margin-bottom: 48px;
}
.button-main {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  justify-content: center;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: var(--WHITE, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
  background: var(--IRIS, #4d5ae5);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-main:hover,
.button-main:focus {
  background: var(--OCEAN, #404bbf);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.discription {
  padding-top: 120px;
  padding-bottom: 120px;
}
.icon-container-disc {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background-color: #f4f4fd;
}
.discription-icon {
  width: 264px;
  flex-shrink: 0;
}

.discription .title-three {
  margin-bottom: 8px;
}
.disc-list {
  width: calc((100% - 72px) / 4);
}
.discription-list {
  display: flex;
  gap: 24px;

  justify-content: space-between;
}
.title-three {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  background-color: #ffffff;
}

.text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
  background-color: #ffffff;
}
.team {
  padding: 120px 0;
  background-color: #f4f4fd;
}
.team .container {
  flex-direction: column;
}
.team .title-second {
  margin-bottom: 72px;
}
.team-photo {
  display: flex;

  gap: 24px;
}
.social-list {
  display: flex;
  margin-top: 8px;
  gap: 24px;
  justify-content: center;
}
.social-item {
  width: 40px;
  height: 40px;
}
.social-icon {
  fill: #f4f4fd;
}
.link-social {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #4d5ae5;
}
.link-social:hover,
.link-social:focus {
  background-color: #404bbf;
}

.title-second {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.4px;
  text-transform: capitalize;
}
.photo-card {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.name-job {
  padding: 32px 0;
  gap: 24px;
}
.name-job .title-three {
  text-align: center;
  margin-bottom: 8px;
}
.photo-card:first-child {
  width: calc((100% - 72px) / 4);
}
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-card {
  position: relative;
  background: var(--WHITE, #fff);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-card:hover .over-text {
  transform: translateY(0);
}
.portfolio-card:first-child {
  width: calc((100% - 48px) / 3);
}
.portfolio .title-second {
  margin-bottom: 72px;
}
.cont-card {
  position: relative;
  overflow: hidden;
}
.over-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app-category .title-three {
  margin-bottom: 8px;
}
.app-category {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.name-job .text {
  text-align: center;
}

.section-footer {
  padding: 100px 0;

  background: var(--NAVY-BLUE, #2e2f42);
}
.section-footer .container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.footer-left-part {
  margin-right: 120px;
}
.web {
  display: inline-block;
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.footer-p {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.4px;
  max-width: 264px;
}
.logo-studio-footer {
  color: var(--CLOUD, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--WHITE, #fff);
}

.social-list-footer {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.social-footer-item {
  width: 40px;
  height: 40px;
}
.link-social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #4d5ae5;
}
.link-social-footer:hover,
.link-social-footer:focus {
  background-color: #31d0aa;
}

.over-window-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
}
.form-for-contact {
  border-radius: 4px;
  background-color: var(--DAIRY, #fcfcfc);
}
